@model risk.control.system.Models.ClientCompanyApplicationUser

@{
    ViewData["Title"] = "User Profile";
}


<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="far fa-user-circle"></i> User Profile</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Profile photo
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.ProfilePictureUrl is not null)
                                        {
                                            <img id="ProfileImage" class="form-Image" src="@Model?.ProfilePictureUrl">
                                        }
                                        else
                                        {
                                            <img id="ProfileImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.FirstName)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.LastName)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>
                                    <dd class="col-sm-5">
                                        <a href="#">  @Html.DisplayFor(model => model.Email)</a>
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.PhoneNumber)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Addressline)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Addressline)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.District)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.District.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.State)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.State.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        PinCode
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.PinCode.Code)
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Country)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Country.Name)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a asp-action="Edit" asp-route-userId="@Model.Id" class="btn btn-warning"><i class='far fa-user-circle'></i> User @Applicationsettings.PROFILE</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>