@model risk.control.system.Models.Vendor

@{
    ViewData["Title"] = @Applicationsettings.DETAILS;
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-building"></i> Agency Detail</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Domain
                                    </dt>
                                    <dd class="col-sm-5">
                                        <a href=""> @Html.DisplayFor(model => model.Email)</a>
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Code)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Code)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.PhoneNumber)
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Branch)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Branch)
                                    </dd>

                                    </dd>

                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        Document
                                    </dt>
                                    <dd class="col-sm-5">
                                        @if (Model?.DocumentUrl is not null)
                                        {
                                            <img id="documentImage" class="form-Image" src="@Model?.DocumentUrl">
                                        }
                                        else
                                        {
                                            <img id="documentImage" class="form-Image" src="@Applicationsettings.NO_IMAGE">
                                        }
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Addressline)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Addressline)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.District)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.District.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.State)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.State.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Country)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Country.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.PinCode)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.PinCode.Name)


                                </dl>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">

                                    <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Line of business
                                                </th>
                                                <th>
                                                    Service type
                                                </th>
                                                <th>
                                                    Price
                                                </th>
                                                <th>
                                                    District
                                                </th>
                                                <th>
                                                    State
                                                </th>
                                                <th>
                                                    Pincodes
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.VendorInvestigationServiceTypes)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LineOfBusiness.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.InvestigationServiceType.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Price)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.District.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.State.Name)
                                                    </td>
                                                    <td>
                                                        @foreach (var pin in item.PincodeServices)
                                                        {
                                                            <span>
                                                                @pin.Pincode
                                                            </span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a asp-controller="ClaimsInvestigation" asp-action="EmpanelledVendors" asp-route-selectedcase="@ViewBag.Selectedcase" class="btn btn-default"><i class="fas fa-arrow-left"></i> @Applicationsettings.BACK</a>
                                @*<a asp-controller="Agency" asp-action="User" class="btn btn-success"><i class="fas fa-user-friends"></i>  @Applicationsettings.USER</a>
                                <a asp-controller="Agency" asp-action="Service" class="btn btn-info"><i class="fas fa-plus"></i>  @Applicationsettings.SERVICE</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>