@model IEnumerable<risk.control.system.Models.District>

@{
    ViewData["Title"] = @Applicationsettings.DISTRICT;
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-city"></i>  @Applicationsettings.DISTRICT</h3>
                    </div>
                    <div class="card-body dataTable-search-form">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a class="btn btn-success" asp-controller="District" asp-action="Create"><i class="fas fa-city"></i>  @Applicationsettings.CREATE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-body ">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Country.Name)
                                        </td>
                                        <td>
                                            <a class="btn btn-xs btn-info" asp-action="Details" asp-route-id="@item.DistrictId">
                                                <i class="fa fa-search"></i>  @Applicationsettings.VIEW
                                            </a> &nbsp;
                                            <a class="btn btn-xs btn-warning" asp-action="Edit" asp-route-id="@item.DistrictId">
                                                <i class="fas fa-pen"></i>  @Applicationsettings.EDIT
                                            </a> &nbsp;
                                            <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@item.DistrictId">
                                                <i class="fas fa-trash"></i>  @Applicationsettings.DELETE
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
