@model risk.control.system.Models.InvestigationCaseSubStatus

@{
    ViewData["Title"] = @Applicationsettings.DETAILS;
    var masterData = Model.MasterData ? "none" : "";
}
<div>
    <h4>@Applicationsettings.CASE_SUBSTATUS</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationCaseStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvestigationCaseStatus.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-window-close"></i> @Applicationsettings.CANCEL</a> &nbsp;
    <a class="btn btn-warning" style="pointer-events:@masterData" asp-action="Edit" asp-route-id="@Model?.InvestigationCaseSubStatusId"><i class="fas fa-pen"></i> @Applicationsettings.EDIT</a>
</div>
