@model risk.control.system.Models.ClientCompany

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientCompany</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addressline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addressline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State.StateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinCode.PinCodeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.DistrictId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IFSCCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IFSCCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientCompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
