@model IEnumerable<risk.control.system.Models.ClientCompany>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addressline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFSCCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgreementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addressline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.StateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PinCode.PinCodeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFSCCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgreementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientCompanyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientCompanyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientCompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
