@model risk.control.system.Models.VendorInvestigationServiceType

@{
    ViewData["Title"] = @Applicationsettings.DELETE;
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-paper-plane"></i> Agency Service</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.LineOfBusiness)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.LineOfBusiness.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.InvestigationServiceType)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.InvestigationServiceType.Name)
                                    </dd>

                                    <dt class="col-sm-5">
                                        Service Pincodes
                                    </dt>
                                    <dd class="col-sm-5">
                                        @foreach (var svc in Model?.PincodeServices)
                                        {
                                            var pinCodeDetail = svc.Pincode + "- " + svc.Name;
                                            @Html.DisplayFor(modelItem => pinCodeDetail)
                                            ;
                                        }
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.District)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.District.Name)
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.State)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.State.Name)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Country)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Country.Name)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Price)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Price)
                                    </dd>

                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Created)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Created)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Updated)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.Updated)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.UpdatedBy)
                                    </dt>
                                    <dd class="col-sm-5">
                                        @Html.DisplayFor(model => model.UpdatedBy)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="VendorInvestigationServiceTypeId" name="id" />
                                    <a asp-controller="Vendors" asp-action="details" asp-route-id="@Model.Vendor.VendorId" class="btn btn-secondary">
                                        <i class="fa fa-window-close"></i>
                                        @Applicationsettings.CANCEL
                                    </a> &nbsp;
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
