@model IEnumerable<risk.control.system.Models.VendorInvestigationServiceType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped fixed-with-height">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationServiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineOfBusiness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                PincodeServices
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvestigationServiceType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineOfBusiness.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Name)
            </td>
            <td>
                    @foreach(var svc in item.PincodeServices)
                    {
                        var pinCodeDetail = svc.Pincode + "- "+ svc.Name;
                        @Html.DisplayFor(modelItem => pinCodeDetail);
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendorInvestigationServiceTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VendorInvestigationServiceTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VendorInvestigationServiceTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
