@model risk.control.system.Models.OutboxMessage

@{
    ViewData["Title"] = "Reply";
    <link href="~/plugins/summernote/summernote.css" rel="stylesheet" />

}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="ContactMessage" id="email-form" method="post" enctype="multipart/form-data">
                    <div class="card card-secondary">
                        <input type="hidden" asp-for="OutboxMessageId" />
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.ActionType Mail</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <input id="receipient-email" class="form-control" asp-for="ReceipientEmail" value="@Model.ReceipientEmail">
                            </div>
                            <div class="form-group">
                                <input class="form-control" asp-for="Subject" value="@Model.Subject">
                            </div>
                            <div style="display:none" class="form-group">
                                <select asp-for="Priority" asp-items="Html.GetEnumSelectList<ContactMessagePriority>()">
                                </select>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RawMessage, new { @class = "col-md-12 control-label" })
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.RawMessage, new { @class = "form-control", @row = 5 })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-default btn-file">
                                    <i class="fas fa-paperclip"></i> Attachment
                                    <img class="file-image" id="documentImage" src="/img/no-image.png">
                                    <input asp-for="Attachment" type="file" class="form-control" onchange="document.getElementById('documentImage').src = window.URL.createObjectURL(this.files[0])" />
                                </div>
                                <p class="help-block">Max. 10MB</p>

                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="float-right">
                                @*<button type="submit" asp-action="Draft" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> Draft</button>*@
                                <button type="submit" asp-action="InboxDetailsReply" class="btn btn-success"><i class="far fa-envelope"></i> Reply</button>
                            </div>
                            <button type="reset" class="btn btn-secondary"><i class="fas fa-times"></i> @Applicationsettings.CANCEL</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/plugins/summernote/summernote.js"></script>
}
