@model IEnumerable<risk.control.system.Models.LineOfBusiness>

@{
    ViewData["Title"] = @Applicationsettings.LINE_OF_BUSINESS;
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-business-time"></i>   @Applicationsettings.LINE_OF_BUSINESS</h3>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a class="btn btn-success" as-controller="LineOfbusiness" asp-action="Create"><i class="fas fa-business-time"></i>  Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">

                        <h3 class="card-title"><i class="fas fa-list"></i>   @Applicationsettings.LINE_OF_BUSINESS list</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Name
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Code)
                                    </th>
                                    <th scope="col">
                                        Investigation Service Types
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var masterData = item.MasterData ? "none" : "";
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Code)
                                        </td>
                                        <td>
                                            @foreach (var InvestigationServiceType in item.InvestigationServiceTypes)
                                            {
                                                <span class="badge badge-light">@InvestigationServiceType.Name</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-xs btn-info" asp-action="Details" asp-route-id="@item.LineOfBusinessId">
                                                <i class="fa fa-search"></i>  @Applicationsettings.VIEW
                                            </a> &nbsp;
                                            <a class="btn btn-xs btn-warning" style="pointer-events:@masterData" asp-action="Edit" asp-route-id="@item.LineOfBusinessId">
                                                <i class="fas fa-pen"></i>  @Applicationsettings.EDIT
                                            </a> &nbsp;
                                            <a class="btn btn-xs btn-danger" style="pointer-events:@masterData" asp-action="Delete" asp-route-id="@item.LineOfBusinessId">
                                                <i class="fas fa-trash"></i>  @Applicationsettings.DELETE
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>